body {
  background: grey;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: blue;
}
.mainblock {
  width: 650px;
  background-color: silver;
  border: 10px solid blue;
  margin: 20px auto;
  padding: 0 30px;
}

.mainblock_h2 {
  color: blue;
  text-align: center;
  font-size: 30px;
}

.form_div{
  display: flex;
  flex-direction: column;
}

.label_style{
  color: blue;
  margin-bottom: 20px;
}

label, .radiobutton_p{
  color: blue;
  font-weight: bold;
}

button {
  margin: 20px auto;
  padding: 5px 20px;
  font-size: 20px;
  color: blue;
  border: 3px solid blue;
}

.radiobutton_div{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}